html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    bottom: 0;
}

// 顶部导航
.nav {
    position: relative;
    width: 100%;
    height: 42px;
    // background-color: green;

    .nav-center {
        // position: absolute;
        width: 980px;
        height: 100%;
        margin: 0 auto;
        background-color: #ffffff;

        .nav-center-left {
            float: left;
            left: 0px;
            line-height: 40px;

            ul {
                margin-left: -10px;

                li {
                    display: inline-block;
                    padding-left: 10px;

                    a {
                        color: #222222;
                    }
                }
            }
        }

        .nav-center-center {
            width: 80px;
            height: 36px;
            float: left;
            margin: 7px 0 0 15px;
            // background-color: purple;

            img {
                float: right;
                margin-top: 5px;
            }
        }

        .nav-center-right {
            float: right;
            width: 464px;
            height: 100%;
            line-height: 42px;
            // background-color: seagreen;


            ul {


                li {
                    display: inline-block;
                    margin-left: 10px;

                    a {
                        color: #222222;
                    }
                }
            }
        }
    }
}

// 顶部图标右边链接
.next {
    position: absolute;
    left: 0;
    right: 0;
    padding-top: 42px;
    // background-color: orangered;
    z-index: 1;

    .right {
        position: absolute;
        width: 387px;
        height: 54px;
        right: 0;
        top: 0;
        background-image: url(../image/border0.png);

        ul {
            position: absolute;
            width: 80%;
            height: 100%;
            left: 78px;

            li {
                display: inline-block;
                width: 15%;

                img {
                    position: absolute;
                }
            }
        }
    }

}
// 中间主题
.subject {
    position: relative;

    .subject-top {
        width: 100%;
        height: 1141px;
        background-image: url(../upload/bg.jpg);
    }

    .subject-left {
        position: relative;
        width: 647px;
        height: 100%;
        padding-top: 80px;


        .logo {
            float: left;
        }
    }

    .subject-center {
        width: 100%;
        height: 1126px;
        margin: 0;
        padding: 0;
        background-image: url(../upload/chara-bg.jpg);
    }

    .subject-bottom {
        width: 100%;
        height: 1126px;
        background-image: url(../upload/pics-bg.jpg);
    }

    .subject-foot {
        width: 100%;
        height: 1126px;
        background-image: url(../upload/story-bg.jpg);

        .one {
            width: 177px;
            height: 83px;
            margin: auto;
            background-image: url(../upload/story-title.png);
        }

        .story {
            width: 100%;
            height: 514px;
            margin-top: 220px;
            line-height: 2.5;

            p {
                color: #ffffff;
                font-size: 16px;
                text-align: center;
                margin-top: 20px;
            }
        }
    }
}