$one: 320px;
$two: 375px;
$three: 414px;

// iphone 5/SE
@media screen and (width: $one) {
    html {
        font-size: $one / 20;
    }
}

// iphone6/7/8
@media screen and (width: $two) {
    html {
        font-size: $two / 20;
    }
}

// iphone6/7/8 plus
@media screen and (width: $three) {
    html {
        font-size: $three / 20;
    }
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    // background-color: #000000;
}

.first {
    position: relative;
    width: 100%;
    height: 35.5rem;
    // background-color: orange;
    // background-image: url(../upload/bg1.jpg);

    .pict {
        position: absolute;
        width: 100%;
        height: 31.8125rem;
        background-image: url(../upload/bg1.jpg);
        background-repeat: no-repeat;
        background-size: 20rem;

        .up {
            position: absolute;
            width: 16rem;
            height: 10.75rem;
            // background-color: orangered;
            top: 19rem;
            left: 2rem;

            .server {
                position: relative;
                width: 16rem;
                height: 1.9375rem;
                margin-bottom: 1rem;
                // background-color: orchid;
                // text-align: center;
                // margin: 0 auto;

                .server-left {
                    position: absolute;
                    width: 2.625rem;
                    color: #ffffff;
                    font-weight: 700;
                    line-height: 1.9875rem;
                }

                .server-right {
                    width: 11.5625rem;
                    height: 1.9375rem;
                    margin-left: 4rem;
                    border: 2px solid #5e49b8;
                    background-color: #ffffff;

                    div {
                        background-image: url(../upload/server.png);
                    }

                    option {
                        font-weight: normal;
                        display: block;
                        line-height: 2rem;
                        min-height: 1.2rem;
                        padding: 0rem 2rem 1rem;
                        color: #5e49b8;
                    }
                }
            }

            .role {
                width: 16rem;
                height: 1.9375rem;
                margin-bottom: 1rem;

                .role-left {
                    position: absolute;
                    width: 2.625rem;
                    color: #ffffff;
                    font-weight: 700;
                    line-height: 1.9875rem;
                }

                .role-right {
                    position: relative;
                    width: 11.5625rem;
                    height: 1.9375rem;
                    margin-left: 4rem;
                    border: 2px solid #5e49b8;
                    background-color: #ffffff;

                    div {
                        position: absolute;
                        width: 1rem;
                        height: 1rem;
                        top: 0.6rem;
                        margin-left: 0.5rem;
                        background-size: 1rem;
                        background-image: url(../upload/role.png);
                    }
                }
            }

            .bag {
                width: 16rem;
                height: 1.9375rem;
                margin-bottom: 1rem;

                .bag-left {
                    position: absolute;
                    width: 2.625rem;
                    color: #ffffff;
                    font-weight: 700;
                    line-height: 1.9875rem;
                }

                .bag-right {
                    position: relative;
                    width: 11.5625rem;
                    height: 1.9375rem;
                    margin-left: 4rem;
                    border: 2px solid #5e49b8;
                    background-color: #ffffff;

                    div {
                        position: absolute;
                        width: 1rem;
                        height: 1rem;
                        top: 0.6rem;
                        margin-left: 0.5rem;
                        background-size: 1rem;
                        background-image: url(../upload/bag.png);
                    }
                }
            }

            .duihuan {
                position: relative;
                width: 9.3125rem;
                height: 2.75rem;
                margin: 1rem auto 0;
                background-color: #5e32db;
                border: 0.1rem solid #7450ea;
                font-size: 1.25rem;
                color: #fff;
                font-weight: 700;
                text-align: center;
                line-height: 2.75rem;
            }
        }
    }
}

.scrent {
    position: relative;
    width: 100%;
    height: 31.5625rem;
    margin-top: -4rem;

    .dipian {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(../upload/bg2.jpg);
        background-repeat: no-repeat;
        background-size: 20rem;

        .shuoming {
            position: absolute;
            top: 4.28rem;
            width: 94%;
            left: 50%;
            transform: translateX(-50%);
            color: #fff;
            font-size: .26rem;

            div {
                line-height: 1rem;
            }
        }
    }
}