html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

$one: 320px;
$two: 375px;
$three: 414px;
$four: 768px;

@media screen and (width: $one) {
    body {
        font-size: 20px;
    }
}

@media screen and (width: $two) {
    body {
        position: relative;
        width: 100%;
        height: 100%;
    }
}

@media screen and (width: $three) {
    body {
        position: relative;
        width: 100%;
        height: 100%;
    }
}

@media screen and (width: $four) {
    body {
        position: relative;
        width: 100%;
        height: 100%;
    }
}

div.first {
    position: relative;
    width: 100%;
    height: 3.875rem;
    background-color: #000000;

    .logo {
        background-image: url(../upload/logo.png);
        width: 7.3125rem;
        height: 3.25rem;
        background-repeat: no-repeat;
        background-size: 7rem;
        text-align: center;
    }

    .biao {
        position: absolute;
        top: 1.5rem;
        right: 5rem;
        height: 1.5rem;
        width: 3.5rem;
        /* height: 1rem; */
        background-color: #78f0de;
        border-radius: 0.5rem;
        font-size: 0.8rem;
        line-height: 1.5rem;
        text-align: center;
    }

    .home {
        position: absolute;
        top: 1.5rem;
        right: 1rem;
        height: 1.5rem;
        width: 3.5rem;
        /* height: 1rem; */
        background-color: #78f0de;
        border-radius: 0.5rem;
        font-size: 0.8rem;
        line-height: 1.5rem;
        text-align: center;
    }
}

.scrent {
    position: relative;

    .news {
        margin: .65rem auto .3rem;
        background: url(../upload/title-news.png);
        width: 14.0625rem;
        height: 2.6875rem;
        background-size: contain;
    }

    .new {
        width: 100%;
        // height: 269.25rem;
        position: relative;
        // width: 100%;
        background-color: #0b0715;
        text-align: center;
        font-family: "Microsoft Yahei";
        line-height: 1.2;
        color: #e2e2e2;

        .new-top {
            text-align: center;
            margin-top: 2rem;
            line-height: 2rem;
        }

        .new-bottom {
            position: relative;
            font-size: 0.5rem;
            text-align: left;
            margin-top: 1rem;
            padding: 1rem 0.9rem 0 0.9rem;
            line-height: 1rem;
            border-top: 0.1rem solid grey;
        }
    }
}

.bottom {
    width: 100%;
    height: 20rem;
    background-color: #290430;

    .picte {
        width: 100%;
        height: 14rem;
        background-image: url(../upload/contact.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    .kuang {
        width: 17.9375rem;
        height: 2.3125rem;
        border: 2px solid #3cffdd;
        margin: 0rem auto;

        span {
            position: absolute;
            margin: 0.7rem;
            color: #ffffff;
            font-size: 0.5rem;
        }
    }

    .where {
        width: 100%;
        height: 6.8125rem;
        margin-top: 2rem;

        p {
            width: 18rem;
            margin: 0rem 1rem;
            font-size: 0.8rem;
            color: #ffffff;
        }
    }
}